---
import DynamicIcon from "@/helpers/DynamicIcon";
---

<button
  class="btn bg-primary p-2 rounded-sm fixed right-2.5 transition duration-300 bottom-2.5 hover:shadow-[0_2px_5px] hover:shadow-primary/50 z-50"
  id="go-top"
>
  <DynamicIcon client:load className="w-6 h-6 text-white" icon="FaAngleUp" />
</button>

<script is:inline>
  const button = document.querySelector("#go-top");
  button.addEventListener("click", function () {
    window.scroll({
      top: 0,
      left: 0,
      behavior: "smooth",
    });
  });
</script>
