---
import BlogCard from "@/components/BlogCard.astro";
import Disqus from "@/helpers/Disqus";
import Base from "@/layouts/Base.astro";
import dateFormat from "@/lib/utils/dateFormat";
import similerItems from "@/lib/utils/similarItems";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data, id }) => {
    return !id.startsWith("-") && !data.draft;
  });

  const paths = posts.map((post) => ({
    params: {
      single: post.slug,
    },
    props: { ...post },
  }));
  return paths;
}

const posts = await getCollection("blog", ({ data, id }) => {
  return !id.startsWith("-") && !data.draft;
});

type Props = CollectionEntry<"blog">;
const { data, render, slug } = Astro.props;
const { Content } = await render();

const similarPost: CollectionEntry<"blog">[] = similerItems(
  Astro.props,
  posts,
  slug,
);
const { title, image, author, date } = data;
---

<Base {...data}>
  <section class="section pt-50">
    <div class="container">
      <div class="row justify-center items-center">
        <div class="lg:col-8 mb-10" data-aos="fade-in">
          {
            image && (
              <Image
                class="rounded mx-auto"
                src={data.image!}
                width={370}
                height={430}
                alt={title!}
              />
            )
          }
        </div>

        <div class="lg:col-8" data-aos="fade-in" data-aos-delay="50">
          <div class="post-category mb-4">
            {
              data.categories?.map((catagory) => (
                <a class="font-semibold" href="#!">
                  {catagory}
                </a>
              ))
            }
          </div>

          <h2 class="my-4" set:html={markdownify(title!)} />
          <div class="text-primary font-medium">
            <a href="#!" set:html={markdownify(author!)} />
            <span class="mx-2">|</span>
            <span set:html={markdownify(dateFormat(date!))} />
            <span class="mx-2">|</span>
            <span>10 Mins Read</span>
          </div>

          <div class="content">
            <Content />
          </div>
        </div>
        <div class="col-lg-9 col-md-12">
          <Disqus client:load />
        </div>
      </div>
    </div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row justify-center items-center" data-aos="fade-up">
        <div class="text-center mb-14">
          <h2>Recent Articles</h2>
        </div>
      </div>
      <div class="row justify-center items-center g-4">
        {
          similarPost.map((post) => (
            <div class="lg:col-4 md:col-6">
              <BlogCard {...post} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
