---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

const { data, render } = await getEntryBySlug("faq", "-index");
const { Content } = await render();
---

<Base {...data}>
  <PageHeader title={data.title!} />
  <section class="section">
    <div class="container">
      <div class="row">
        <Content />
      </div>
    </div>
  </section>
</Base>
